# Pandas

In [1]:
import pandas as pd

In [9]:
mylist = ['pune','mumbai','delhi','banglore','hyderbad']

In [8]:
d = {
    'p' : 300,
    'q' : 301,
    'r' : 302,
    's' : 303,
    't' : 305
}

In [5]:
import numpy as np

In [13]:
arr = np.arange(1000, 1005)
arr

array([1000, 1001, 1002, 1003, 1004])

In [14]:
pd.Series(mylist)

0        pune
1      mumbai
2       delhi
3    banglore
4    hyderbad
dtype: object

In [16]:

type(pd.Series(list))

pandas.core.series.Series

In [17]:
pd.Series(mylist,arr)

1000        pune
1001      mumbai
1002       delhi
1003    banglore
1004    hyderbad
dtype: object

In [18]:
pd.Series(arr,mylist)

pune        1000
mumbai      1001
delhi       1002
banglore    1003
hyderbad    1004
dtype: int32