In [1]:
pwd

'C:\\Users\\USER\\Desktop\\today\\LRTC\\LinearRegression\\LinearRegressionTillCloud'

In [3]:
#Let's start with importing necessary libraries

import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model  import Ridge,Lasso,RidgeCV, LassoCV, ElasticNet, ElasticNetCV, LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

ImportError: cannot import name 'factorial' from 'scipy.misc' (C:\Users\USER\Anaconda3\lib\site-packages\scipy\misc\__init__.py)

In [4]:
data =pd.read_csv('Admission_Prediction.csv')
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [5]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,485.000000,490.000000,485.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.558763,107.187755,3.121649,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.274704,6.112899,1.146160,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [17]:
data['University Rating'] = data['University Rating'].fillna(data['University Rating'].mode()[0])
data['TOEFL Score'] = data['TOEFL Score'].fillna(data['TOEFL Score'].mean())
data['GRE Score']  = data['GRE Score'].fillna(data['GRE Score'].mean())

In [14]:
data['University Rating'].mode()[0]

3.0

In [15]:
data['TOEFL Score'].mean()

107.18775510204081

In [16]:
data['GRE Score'].mean()

316.55876288659795

In [18]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.558763,107.187755,3.118000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.103952,6.051338,1.128993,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,309.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,316.558763,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,324.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [19]:
data= data.drop(columns = ['Serial No.'])

In [20]:
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65

In [21]:
y = data['Chance of Admit']
X =data.drop(columns = ['Chance of Admit'])

In [23]:
X.head()

    GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0  337.000000        118.0                4.0  4.5  4.5  9.65         1
1  324.000000        107.0                4.0  4.0  4.5  8.87         1
2  316.558763        104.0                3.0  3.0  3.5  8.00         1
3  322.000000        110.0                3.0  3.5  2.5  8.67         1
4  314.000000        103.0                2.0  2.0  3.0  8.21         0

In [26]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [27]:
scaler =StandardScaler()

In [28]:
X_scaled = scaler.fit_transform(X)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [30]:
type(X_scaled)

numpy.ndarray

In [33]:
X_scaled

array([[ 1.84274116e+00,  1.78854223e+00,  7.82009548e-01, ...,
         1.09894429e+00,  1.77680627e+00,  8.86405260e-01],
       [ 6.70814288e-01, -3.10581135e-02,  7.82009548e-01, ...,
         1.09894429e+00,  4.85859428e-01,  8.86405260e-01],
       [ 5.12433309e-15, -5.27312752e-01, -1.04622593e-01, ...,
         1.73062093e-02, -9.54042814e-01,  8.86405260e-01],
       ...,
       [ 1.21170361e+00,  2.11937866e+00,  1.66864169e+00, ...,
         1.63976333e+00,  1.62785086e+00,  8.86405260e-01],
       [-4.10964364e-01, -6.92730965e-01,  7.82009548e-01, ...,
         1.63976333e+00, -2.42366993e-01, -1.12815215e+00],
       [ 9.41258951e-01,  9.61451165e-01,  7.82009548e-01, ...,
         1.09894429e+00,  7.67219636e-01, -1.12815215e+00]])

In [36]:
vif = pd.DataFrame()

In [37]:
vif

Empty DataFrame
Columns: []
Index: []

In [38]:
X.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'],
      dtype='object')

In [40]:
X.head()

    GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0  337.000000        118.0                4.0  4.5  4.5  9.65         1
1  324.000000        107.0                4.0  4.0  4.5  8.87         1
2  316.558763        104.0                3.0  3.0  3.5  8.00         1
3  322.000000        110.0                3.0  3.5  2.5  8.67         1
4  314.000000        103.0                2.0  2.0  3.0  8.21         0

In [41]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit, dtype: float64

In [42]:
x_train,x_test,y_train,y_test = train_test_split(X_scaled,y,test_size = 0.25,random_state=0)

In [43]:
x_train

array([[-1.58289124, -1.1889856 , -1.87788687, ..., -1.60515091,
        -1.13609942, -1.12815215],
       [-0.50111259, -0.52731275, -0.99125473, ..., -1.60515091,
        -0.4575248 , -1.12815215],
       [ 0.49051785, -0.69273097,  0.78200955, ..., -1.06433187,
        -0.92094161,  0.88640526],
       ...,
       [-2.39422523, -0.52731275,  0.78200955, ..., -1.06433187,
        -1.84777524, -1.12815215],
       [ 2.0230376 ,  1.95396044,  1.66864169, ...,  0.55812525,
         1.85955927, -1.12815215],
       [ 0.49051785,  0.        ,  0.78200955, ...,  1.63976333,
         0.91617504,  0.88640526]])

In [45]:
y_train

239    0.59
59     0.42
406    0.61
391    0.71
411    0.56
485    0.70
229    0.82
297    0.86
55     0.64
293    0.64
490    0.67
458    0.69
457    0.37
453    0.73
186    0.84
194    0.77
52     0.78
74     0.74
26     0.76
488    0.76
4      0.65
318    0.79
331    0.73
245    0.81
5      0.90
141    0.90
383    0.62
135    0.82
493    0.62
122    0.57
       ...
265    0.71
72     0.93
333    0.71
25     0.94
165    0.78
337    0.94
483    0.71
174    0.87
486    0.68
39     0.48
193    0.94
314    0.66
396    0.84
88     0.64
472    0.90
70     0.94
87     0.66
292    0.56
242    0.70
277    0.70
211    0.82
9      0.45
359    0.81
195    0.78
251    0.70
323    0.62
192    0.86
117    0.45
47     0.89
172    0.86
Name: Chance of Admit, Length: 375, dtype: float64

In [46]:
y_train

239    0.59
59     0.42
406    0.61
391    0.71
411    0.56
485    0.70
229    0.82
297    0.86
55     0.64
293    0.64
490    0.67
458    0.69
457    0.37
453    0.73
186    0.84
194    0.77
52     0.78
74     0.74
26     0.76
488    0.76
4      0.65
318    0.79
331    0.73
245    0.81
5      0.90
141    0.90
383    0.62
135    0.82
493    0.62
122    0.57
       ...
265    0.71
72     0.93
333    0.71
25     0.94
165    0.78
337    0.94
483    0.71
174    0.87
486    0.68
39     0.48
193    0.94
314    0.66
396    0.84
88     0.64
472    0.90
70     0.94
87     0.66
292    0.56
242    0.70
277    0.70
211    0.82
9      0.45
359    0.81
195    0.78
251    0.70
323    0.62
192    0.86
117    0.45
47     0.89
172    0.86
Name: Chance of Admit, Length: 375, dtype: float64

In [47]:
y_test

90     0.64
254    0.85
283    0.80
445    0.91
461    0.68
15     0.54
316    0.54
489    0.65
159    0.52
153    0.79
241    0.65
250    0.74
390    0.64
289    0.79
171    0.89
329    0.43
468    0.81
355    0.73
154    0.80
37     0.58
205    0.57
366    0.74
240    0.60
108    0.93
45     0.88
438    0.67
21     0.70
367    0.57
96     0.48
233    0.64
       ...
372    0.95
56     0.64
440    0.53
60     0.48
208    0.64
107    0.91
336    0.72
71     0.96
474    0.67
6      0.75
412    0.59
113    0.72
236    0.85
299    0.71
155    0.77
272    0.49
7      0.68
137    0.71
8      0.50
463    0.57
432    0.86
375    0.38
284    0.94
210    0.79
188    0.93
430    0.74
49     0.78
134    0.89
365    0.86
413    0.49
Name: Chance of Admit, Length: 125, dtype: float64